Repository abeauvois/invitely: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,jsx,tsx}": ["eslint --fix"],
  "*.{css,md}": "prettier --write"
}

feat: add home page
  .env
  .env.example
  .eslintrc.js
  index.html
  package.json
  public/mockServiceWorker.js
  readme.md
  src/assets/logo-no-background.svg
  src/generated/.eslintignore
  src/generated/.gitignore
  src/main.tsx
  src/mocks/browser.ts
  src/mocks/handlers.ts
  src/modules/DataIngest/DataIngest.tsx
  src/modules/DataIngest/customRSITheme.tsx
  src/modules/DataIngest/fields.constant.ts
  src/modules/DataIngest/index.ts
  src/modules/Home/Home.tsx
  src/modules/Success/Success.tsx
  src/modules/TasksVisualizer/TaskVisualizerCard.tsx
  src/modules/TasksVisualizer/TasksVisualizer.tsx
  src/modules/app/App.tsx
  src/modules/app/AppBar.tsx
  src/modules/app/AppLoader.tsx
  src/modules/app/LoginForm.tsx
  src/modules/auth/auth.service.ts
  src/modules/auth/auth.store.ts
  src/shared/components/ListCard.tsx
  src/styles/tailwind.css
  src/styles/variables.css
  tailwind.config.js
  tsconfig.json
  vercel.json
  vite.config.js
Due: eslint --fix, prettier --write

feat: clean gitignore
  .gitignore
  src/modules/Home/Home.tsx
Due: eslint --fix

feat: home as default route
  src/assets/logo-no-background.svg
  src/modules/Home/Home.tsx
  src/modules/app/App.tsx
Due: eslint --fix

feat: add shadcn form and form hook
  components.json
  package.json
  pnpm-lock.yaml
  src/components/ui/button.tsx
  src/components/ui/form.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/lib/utils.ts
  src/main.tsx
  src/modules/Home/Home.tsx
  src/shared/components/Form/TextInput.jsx
  src/styles/tailwind.css
  tailwind.config.js
  tsconfig.json
  vite.config.js
Due: eslint --fix, prettier --write

fix: restore tailwind config
  components.json
  src/modules/Home/Home.tsx
  src/shared/components/Form/ProfileForm.jsx
  src/styles/tailwind.css
  src/styles/variables.css
  tailwind.config.js
Due: eslint --fix, prettier --write

fix: tailwind config file now integrates shadcn
  tailwind.config.js
Due: eslint --fix

feat: started the 'create new form' from the workspace page
  .env
  package.json
  pnpm-lock.yaml
  src/components/ui/calendar.tsx
  src/components/ui/popover.tsx
  src/components/ui/switch.tsx
  src/lib/utils.ts
  src/modules/Home/Home.tsx
  src/modules/Workspace/AddCard.tsx
  src/modules/Workspace/FormCard.tsx
  src/modules/Workspace/Header.tsx
  src/modules/Workspace/NewForm.tsx
  src/modules/Workspace/forms.ts
  src/modules/Workspace/index.tsx
  src/modules/app/App.tsx
  src/modules/app/AppLayout.tsx
  src/styles/variables.css
Due: eslint --fix, prettier --write

feat: partially create and view form; improved LC schema; improved page layout + navigation
  .env
  package.json
  pnpm-lock.yaml
  src/components/ui/dialog.tsx
  src/lib/utils.ts
  src/modules/Home/Home.tsx
  src/modules/Workspace/AddCard.tsx
  src/modules/Workspace/Form/Send.tsx
  src/modules/Workspace/Form/forms.ts
  src/modules/Workspace/Form/index.tsx
  src/modules/Workspace/FormCard.tsx
  src/modules/Workspace/Header.tsx
  src/modules/Workspace/forms.ts
  src/modules/Workspace/index.tsx
  src/modules/app/App.tsx
  src/styles/tailwind.css
Due: eslint --fix, prettier --write

feat: add and store dates as form questions
  src/modules/Workspace/Form/forms.ts
  src/modules/Workspace/Form/index.tsx
Due: eslint --fix

feat: css colors variables more coherent
  src/styles/variables.css
Due: prettier --write

feat: ui coherence (color scheme + data)
  src/modules/Home/Home.tsx
  src/modules/Workspace/Form/index.tsx
  src/modules/Workspace/Header.tsx
  src/styles/variables.css
Due: eslint --fix, prettier --write

feat: modularisation
  src/modules/Workspace/Form/Toolbar.tsx
  src/modules/Workspace/Form/index.tsx
Due: eslint --fix

chore: add build styles script
  dist/styles.css
  package.json
  pnpm-lock.yaml
  src/modules/Home/Home.tsx
  src/modules/app/App.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write

chore: logo svg themable
  src/assets/logo-no-background.svg
  src/assets/supervan_logo.svg
  src/assets/supervan_logo_blue.png
  src/modules/Home/Home.tsx
  src/modules/app/AppBar.tsx
  tailwind.config.js
Due: eslint --fix

feat: add fake auth + form input
  src/modules/TasksVisualizer/TasksVisualizer.tsx
  src/modules/app/App.tsx
  src/modules/app/AppBar.tsx
  src/modules/auth/LoginForm.tsx
  src/modules/auth/auth.service.ts
  src/modules/auth/auth.store.ts
  src/shared/components/Form/Input.tsx
  src/shared/components/Form/ProfileForm.tsx
  src/shared/components/FormGroup.tsx
Due: eslint --fix

fix: TextInput and logo colot in footer
  dist/styles.css
  src/assets/phone.svg
  src/modules/Home/Home.tsx
  src/shared/components/Form/ProfileForm.tsx
  src/shared/components/Form/TextInput.tsx
Due: eslint --fix, prettier --write

feat: use textinput in profileform
  src/components/ui/input.tsx
  src/modules/Home/Home.tsx
  src/shared/components/Form/ProfileForm.tsx
  src/shared/components/Form/TextInput.tsx
Due: eslint --fix

feat: Form is now WorkspaceForm. 'title' and 'description' fields are editable (Quill)
  package.json
  pnpm-lock.yaml
  src/modules/Workspace/Form/Send.tsx
  src/modules/Workspace/Form/index.tsx
  src/modules/Workspace/Workspace.tsx
  src/modules/Workspace/WorkspaceForm/Toolbar.tsx
  src/modules/Workspace/WorkspaceForm/WorkspaceForm.tsx
  src/modules/Workspace/WorkspaceForm/forms.ts
  src/modules/Workspace/WorkspaceForm/index.tsx
  src/modules/Workspace/WorkspaceForm/useFormData.tsx
  src/modules/Workspace/index.tsx
  src/modules/app/App.tsx
Due: eslint --fix

feat: add fake auth + form input
  src/shared/components/Form/Input.tsx
Due: eslint --fix

chore: remove unused files + add clerk
  .env
  .env.example
  .gitignore
  package.json
  pnpm-lock.yaml
  src/modules/Home/Home.tsx
  src/modules/TasksVisualizer/DraggableTask.tsx
  src/modules/TasksVisualizer/EditableAddress.tsx
  src/modules/TasksVisualizer/TaskVisualizerCard.tsx
  src/modules/TasksVisualizer/TasksVisualizer.tsx
  src/modules/TasksVisualizer/TasksVisualizerProps.tsx
  src/modules/TasksVisualizer/buildFormattedAddress.ts
  src/modules/TasksVisualizer/constraints.constant.ts
  src/modules/TasksVisualizer/parseAddress.tsx
  src/modules/TasksVisualizer/taskVisualizerQuery.ts
  src/modules/app/App.tsx
  src/modules/app/AppLayout.tsx
  src/modules/app/AppLoader.tsx
  src/modules/app/useAppReady.ts
  src/modules/auth/AppWithAuth.tsx
  src/modules/auth/auth.service.ts
  src/modules/auth/useKeepAliveCookie.ts
  src/shared/components/Form/ProfileForm.tsx
  src/shared/enums/localKeys.enum.ts
  src/shared/hooks/index.ts
  src/shared/hooks/useMediaQueries.ts
  src/types/Address.ts
  src/types/geocode-api.ts
Due: eslint --fix

chore: use clerk auth with router
  .env
  .gitignore
  dist/styles.css
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon-supervan.png
  public/icon-man-blue.png
  public/icon-man.png
  public/icon-men-blue.png
  public/icon-men.png
  public/img/supervan_logo_blue.png
  public/img/supervan_logo_white.png
  public/truck-12m3-w.png
  public/truck-12m3.png
  public/truck-20m3.png
  readme.md
  src/env.d.ts
  src/modules/Landing/Landing.tsx
  src/modules/app/App.tsx
  src/modules/auth/AppWithAuth.tsx
  src/modules/auth/LoginForm.tsx
  src/modules/auth/auth.service.ts
  src/modules/auth/auth.store.ts
  vite.config.js
Due: eslint --fix, prettier --write

feat: add new page layout
  src/env.d.ts
  src/modules/Landing/Landing.tsx
  src/modules/app/App.tsx
  src/modules/app/AppBar.tsx
  src/modules/layouts/AppLayout.tsx
  src/modules/layouts/PageLayout.tsx
Due: eslint --fix

feat: create form was rebuilt using useFieldArray
  src/modules/Workspace/WorkspaceForm/Questions.tsx
  src/modules/Workspace/WorkspaceForm/Toolbar.tsx
  src/modules/Workspace/WorkspaceForm/WorkspaceForm.tsx
Due: eslint --fix

feat: add dates by prepending or appending
  src/modules/Workspace/WorkspaceForm/AddButton.tsx
  src/modules/Workspace/WorkspaceForm/Questions.tsx
Due: eslint --fix

chore: new PageActions components for page headers
  src/modules/Landing/Landing.tsx
  src/modules/Workspace/Header.tsx
  src/modules/Workspace/Workspace.tsx
  src/modules/Workspace/WorkspaceForm/Header.tsx
  src/modules/Workspace/WorkspaceForm/Toolbar.tsx
  src/modules/Workspace/WorkspaceForm/WorkspaceForm.tsx
  src/shared/components/PageActions.tsx
Due: eslint --fix

chore: changed file location for broader reuse + new workspace hook
  src/modules/Workspace/Workspace.tsx
  src/modules/Workspace/WorkspaceForm/Questions.tsx
  src/modules/Workspace/WorkspaceForm/WorkspaceForm.tsx
  src/modules/Workspace/WorkspaceForm/useFormData.tsx
  src/modules/Workspace/forms.ts
  src/modules/Workspace/useWorkspace.tsx
Due: eslint --fix

feat: forms can now be deleted
  src/lib/utils.ts
  src/modules/Workspace/FormCard.tsx
  src/modules/Workspace/Workspace.tsx
  src/modules/Workspace/forms.ts
  src/modules/Workspace/useWorkspace.tsx
Due: eslint --fix

feat: add sendinblue and netlify
  .env
  .env.example
  .gitignore
  netlify/functions/hello-world/hello-world.ts
  netlify/functions/send-emails-background/send-emails-background.ts
  package.json
  pnpm-lock.yaml
  readme.md
  tsconfig.json
Due: eslint --fix, prettier --write

chore: add typscript v5
  .gitignore
  package.json
  pnpm-lock.yaml
  src/lib/utils.ts
  tsconfig.json
Due: eslint --fix

fix: netlify CI
  src/modules/Workspace/WorkspaceForm/Questions.tsx
  src/modules/Workspace/WorkspaceForm/WorkspaceForm.tsx
  stats.html
Due: eslint --fix

fix: background function
  netlify/functions/send-emails/send-emails.ts
Due: eslint --fix

fix: process env err in lib utils
  src/lib/utils.ts
  src/modules/app/App.tsx
Due: eslint --fix

fix: using process.env. instead of env.
  src/lib/utils.ts
Due: eslint --fix

fix: definition of invitely variables + CSS theme adjustments
  src/styles/tailwind.css
  src/styles/variables.css
  tailwind.config.js
Due: eslint --fix, prettier --write

chore: new DeleteButton component + UX revamp of Workspace components
  package.json
  pnpm-lock.yaml
  src/components/ui/alert.tsx
  src/components/ui/button.tsx
  src/components/ui/tooltip.tsx
  src/modules/Landing/Landing.tsx
  src/modules/Workspace/FormCard.tsx
  src/modules/Workspace/Header.tsx
  src/modules/Workspace/Workspace.tsx
  src/modules/Workspace/WorkspaceForm/AddButton.tsx
  src/modules/Workspace/WorkspaceForm/Header.tsx
  src/modules/Workspace/WorkspaceForm/Questions.tsx
  src/modules/Workspace/WorkspaceForm/SendDialog.tsx
  src/modules/Workspace/WorkspaceForm/WorkspaceForm.tsx
  src/modules/Workspace/forms.ts
  src/modules/Workspace/useWorkspace.tsx
  src/shared/components/Buttons/DeleteButton.tsx
  src/shared/components/IconTooltip.tsx
  src/shared/components/Icons/BinIcon.tsx
  src/shared/components/Icons/InfoIcon.tsx
  src/styles/tailwind.css
Due: eslint --fix, prettier --write

chore: some more component reuse
  src/modules/Workspace/WorkspaceForm/SendDialog.tsx
  src/modules/Workspace/WorkspaceForm/WorkspaceForm.tsx
  src/shared/components/IconTooltip.tsx
  src/shared/components/Icons/InfoIcon.tsx
  src/shared/components/MessageBox.tsx
Due: eslint --fix

chore: using radix icons instead of home-made Icon components + correction of typo
  src/modules/Workspace/WorkspaceForm/Questions.tsx
  src/modules/Workspace/WorkspaceForm/SendDialog.tsx
  src/shared/components/Buttons/DeleteButton.tsx
  src/shared/components/Icons/BinIcon.tsx
Due: eslint --fix

chore: setting labels in french
  src/modules/Workspace/AddCard.tsx
Due: eslint --fix

fix: now using native html input type="date"
  src/modules/Workspace/WorkspaceForm/Questions.tsx
  src/modules/Workspace/forms.ts
Due: eslint --fix

feat: forms are now searchable via input text
  src/modules/Workspace/Header.tsx
  src/modules/Workspace/Workspace.tsx
Due: eslint --fix
